#highscore
.highscore_search_table{text-align:left}#highscore .select_container
select{width:180px}#highscore
.player_name_label{margin:0}#highscore
.player_select{margin:5px
0}#highscore .highscore_search_table
td{padding:10px;vertical-align:top;width:33%}