#merchantNavy
.buildingDescription{background:url(characters/fleet/120x100/ship_transport_r_120x100.gif) no-repeat right 10px}#merchantNavy #container #mainview
table.table01{border:0px;width:100%}#merchantNavy #container #mainview table.table01 td
a{text-decoration:underline;font-weight:bold;color:#542c0f}#merchantNavy #container #mainview table.table01 td a:hover{color:#DF5843}#merchantNavy #mainview table
th{padding-left:0px;padding-right:0px}#merchantNavy #mainview table
td.transports{font-size:14px;font-weight:bold;color:#906646;text-align:center;width:30px}#merchantNavy #mainview table th.transports
img{display:block;margin-top:-20px}#merchantNavy #mainview table
td.eta{text-align:center;width:80px}#merchantNavy #mainview table
td.source{width:110px;padding-right:10px;text-align:right}#merchantNavy #mainview table
td.target{width:110px;padding-left:10px;text-align:left}#merchantNavy #mainview table
td.speed{width:40px;text-align:center}#merchantNavy #mainview table
td.return{text-align:center;width:70px}#merchantNavy #mainview table
td.mission{width:100px;font-weight:bold;text-align:center}#merchantNavy #mainview table
td.premiumJet{padding-right:3px}#merchantNavy #mainview table
td.actions{text-align:center}#merchantNavy #mainview table
td.gotoforeign{padding-right:18px;background:url(icons/stage_gotoforeign.gif) no-repeat right center}#merchantNavy #mainview table
td.gotoown{padding-right:18px;background:url(icons/stage_gotoown.gif) no-repeat right center}#merchantNavy #mainview table
td.returning{padding-left:14px;background:url(icons/stage_returning.gif) no-repeat left center}#merchantNavy #mainview table td.mission
a{font-weight:bold;color:#542c0f}#merchantNavy #mainview table td.mission a:hover{color:#DF5843}#merchantNavy #mainview #plunderingTransports table td.mission
a{font-weight:bold;color:#900}#merchantNavy #mainview table
.payload{width:500px;font-weight:bold;color:#906646;margin-left:10px}#merchantNavy #mainview table .payload
.textLabel{float:left;text-align:right;padding:2px
8px}#merchantNavy #mainview table
.space{width:120px;color:#906646}#merchantNavy #mainview table .space
img{vertical-align:middle}#merchantNavy  #mainview .navyTable th,
#merchantNavy  #mainview .navyTable
td{padding:0}#merchantNavy  #mainview .navyTable
th{}#merchantNavy  #mainview
.titleNavyImg{height:40px;position:relative;top:25px}#merchantNavy  #mainview
.tableWrapper{margin-top:-40px}#merchantNavy #grantedTransporters
.governmentSymbolSmall{background:url(government/zepter_20.gif) no-repeat left top;width:20px;height:20px;position:absolute;display:block}#merchantNavy .dynamic
.dailyActivityBonusSymbol{background:url(dailyActivity/icon_daily_bonus.gif) no-repeat center left;width:20px;height:20px;padding-left:29px;vertical-align:middle}#merchantNavy .dynamic
.dailyActivityBonus{margin-left:5px;position:absolute;top:4px}