#militaryAdvisor
.buildingDescription{height:auto}#militaryAdvisor
table#lost{margin:10px
auto;width:648px}#militaryAdvisor #lost
td{height:100px;padding-top:60px;text-align:center;background-color:#FAEAC6}#militaryAdvisor #lost
td.owner{height:auto;font-weight:bold;padding:5px;background-color:transparent;white-space:nowrap}