#palace
.buildingDescription{background:url(buildings/y100/palace.gif) no-repeat right 10px}#palace #mainview .contentBox01h .content
th{background-color:#faeac6}#palace #mainview .content
p{margin-bottom:15px}#palace #mainview .content
.anarchy_text{color:#AA0303;font-weight:700;margin-top:10px}