#palaceColony
.buildingDescription{background:url(buildings/y100/palaceColony.gif) no-repeat right 10px}#palaceColony #moveCapitalConfirmation
ul{margin:px 40px}#palaceColony #moveCapitalConfirmation
li{list-style:disc outside;margin:4px
0px}