#premiumDetails td.buy a:hover{color:#b03937;text-decoration:none}#premiumDetails table td.desc,
#premiumDetails table
td.buy{font-size:11px}#premiumDetails
td.ware{margin-top:10px}#premiumDetails
td.buy{text-align:center;background-color:transparent;font-weight:bold;width:90px}#premiumDetails
.product{margin:5px;border:3px
solid #e4b873;padding:5px}#premiumDetails .product
h2{font-weight:bold;font-size:14px;padding:5px
0px}#premiumDetails .product
.button{display:block;margin:5px
0px}#premiumDetails .product
h3{font-weight:bold;padding-left:20px}#premiumDetails .product
table{margin:0px
5px}#premiumDetails .product
.until{color:red}#premiumDetails .product
.desc{width:435px}#premiumDetails #mainview
ul{margin-left:30px}#premiumDetails #mainview ul
li{list-style-type:disc;margin-left:10px}#premiumDetails #premiumOffers table
p{margin:0px;text-align:left}#premiumDetails #premiumOffers
h4{font-weight:bold;text-align:left}#premiumDetails #premiumOffers
td{padding:4px
10px}#premiumDetails #premiumOffers
.cost{width:60px}#premiumDetails #premiumOffers .cost
img{vertical-align:top}#premiumDetails #premiumOffers
.buy{width:80px}#premiumDetails #premiumOffers
td.feature{padding-left:100px}#premiumDetails #premiumOffers
td.duration{font-weight:bold;text-align:right}#premiumDetails   #premiumOffers
td.cost{font-weight:bold}#premiumDetails  #premiumOffers td.buy
a{display:block}#premiumDetails  #premiumOffers tr.account
td.feature{background:url(premium/premium_account.gif) no-repeat 10px 4px;padding-left:150px}#premiumDetails   #premiumOffers tr.woodbonus
td.feature{background:url(premium/premium_wood.gif) no-repeat 10px top}#premiumDetails  #premiumOffers tr.marblebonus
td.feature{background:url(premium/premium_marble.gif) no-repeat 10px top}#premiumDetails   #premiumOffers tr.sulfurbonus
td.feature{background:url(premium/premium_sulfur.gif) no-repeat 10px top}#premiumDetails   #premiumOffers tr.crystalbonus
td.feature{background:url(premium/premium_crystal.gif) no-repeat 10px top}#premiumDetails   #premiumOffers tr.winebonus
td.feature{background:url(premium/premium_wine.gif) no-repeat 10px top}#premiumDetails #ambrosia
.content{text-align:center}#premiumDetails #ambrosia
.ambrosiaCount{padding-top:100px;background:url(premium/ambrosia.gif) no-repeat top center;color:#906646;font-weight:bold;font-size:24px}#premiumDetails
.content{overflow:auto}#premiumDetails .content div,
#premiumDetails .content h4,
#premiumDetails
.footer{clear:both}#premiumDetails .content
a.enlarge{float:right;width:300px;text-align:center;margin:10px;text-decoration:none}#premiumDetails .content
h4{font-weight:bold;margin:20px
30px 10px 40px;;font-size:1.2em}#premiumDetails .content
ul{margin:8px
30px}#premiumDetails #premiumOffers
h4{font-size:1em;font-weight:bold;text-align:left;margin:0}#premiumDetails
#premiumOffers{clear:both;margin-top:20px}#premiumDetails #premiumOffers tr.account
td.feature{background:none;padding-left:50px}#premiumDetails
.slider_content{overflow:hidden}#premiumDetails #premiumAccountNav .yui-carousel-element{z-index:10}#premiumDetails #premiumAccountDetail .yui-carousel-element{overflow:visible}#premiumDetails #premiumAccountDetail .yui-carousel-element
li{border:none}#premiumDetails #premiumAccountDetail .yui-carousel-element .item .yui-carousel-item{float:none;list-style:disc outside;margin:0;overflow:visible;text-align:left;vertical-align:top}#premiumDetails #premiumAccountNav .yui-carousel-nav{display:none}#premiumDetails #premiumAccountDetail .yui-carousel-nav{display:none}#premiumDetails
.slide_container{margin:0
auto;width:100%}#premiumDetails .slide_container
a{text-decoration:none}#premiumDetails .slide_container li
img{border:0}#premiumDetails .slide_container
.intro{display:inline;margin:0px
14px 0px 4px;width:202px}#premiumDetails #premiumOffers
.feature_extend{padding-left:30px}#premiumDetails #premiumOffers
.premiumExtendMouseover{top: -102px !important}#premiumDetails #premiumAccountNav .item,
#premiumDetails .slide_container
.item{border:none;display:inline;margin:0;overflow:hidden;padding-right:3px}#premiumDetails #premiumAccountNav .item,
#premiumDetails .slide_container #navCarousel
.item{background:url(premium/bg_premium_features_selected.gif) no-repeat scroll left center transparent;height:100px;width:122px}#premiumDetails .slide_container #navCarousel .yui-carousel-item-selected{background:url(premium/bg_premium_features.gif) no-repeat scroll left center transparent}#premiumDetails .slide_container #contentCarousel
.item{height:auto;width:665px}#premiumDetails #premiumAccountDetail
.content{margin:5px}#premiumDetails #premiumAccountNav
.right_hidden_item{position:absolute;left:530px;z-index:0}#premiumDetails #premiumAccountNav
.left_hidden_item{position:absolute;left:0px;z-index:0}#premiumDetails .slide_container .item
.navimg{left:15px;position:relative;top:9px;z-index:10}#premiumDetails .slide_container .item
h3{line-height:85%;margin-top:10px;color:#542C0F;display:block;font-size:11px;text-align:center;z-index:2}#premiumDetails .slide_container .item
p.all{bottom:25px;position:absolute;z-index:2}#premiumDetails
p{text-align:left;margin-bottom:10px}#premiumDetails .slide_container .item p.all
a{font-weight:bold;font-size:85%}#premiumDetails
.left_arrow{cursor:pointer;left:10px;position:absolute;top:10px;width:17px}#premiumDetails
.right_arrow{cursor:pointer;left:655px;position:absolute;top:10px;width:17px}#premiumDetails
.custom_nav{margin:0
auto;width:625px}#premiumDetails .custom_nav
span{float:right;font-size:11px;font-weight:700;line-height:17px}#premiumDetails .custom_nav
.page_button{background:url(interface/arrow_sprite.gif) no-repeat scroll 0 0 transparent;cursor:pointer;float:right;height:17px;margin:0
5px;overflow:hidden;width:17px}#premiumDetails .custom_nav
.disabled_page_button{cursor:default}#premiumDetails .custom_nav
.next_button{background-position:0 0}#premiumDetails .custom_nav
.prev_button{background-position: -16px 0}#premiumDetails .custom_nav
.disabled_prev_button{background-position: -16px -17px}#premiumDetails .custom_nav
.disabled_next_button{background-position:0 -17px}#premiumDetails #premiumAccountDetail .item
.teaser{color:#906646;font-size:12px;font-weight:bold;text-align:left}#premiumDetails #premiumAccountDetail .item
.details{margin:20px;text-align:left}