#shipyard
.buildingDescription{background:url(buildings/y100/shipyard.gif) no-repeat right 10px}#shipyard
.army.ship{background-image:url(characters/fleet/unitfleets_x34_y34.gif)}#shipyard
.s201{}#shipyard
.s210{background-position: -36px 0}#shipyard
.s211{background-position: -108px 0}#shipyard
.s212{background-position: -252px 0}#shipyard
.s213{background-position: -72px 0}#shipyard
.s214{background-position: -144px 0}#shipyard
.s215{background-position: -216px 0}#shipyard
.s216{background-position: -180px 0}#shipyard
.s217{background-position: -396px 0}#shipyard
.s218{background-position: -360px 0}#shipyard
.s219{background-position: -324px 0}#shipyard
.s220{background-position: -288px 0}