#version #container #mainview .table01
td.desc{text-align:left}#version #container #mainview .table01
td.version{vertical-align:top}#version #container #mainview
.table01{width:660px}#version #container #mainview
li{padding-bottom:10px}#version #container #mainview li
li{list-style:circle outside;padding-bottom:0}#version #container #mainview ul
ul{margin-left:16px;padding-left:0;font-size:0.8em}