#advisors a {
    margin-top: -13px;
}
#advisors a.pluslink {
    margin-top: 0px;
}
#advisors a.plusteaser {
    margin-top: 0px;
}
#advisors #advCities a.normal { background-image:url(specials/christmas/layout/advisors/mayor.gif); }
#advisors #advCities a.normalactive {   background-image:url(specials/christmas/layout/advisors/mayor_active.gif);  }
#advisors #advCities a.premium { background-image:url(specials/christmas/layout/advisors/mayor_premium.gif); }
#advisors #advCities a.premiumactive { background-image:url(specials/christmas/layout/advisors/mayor_premium_active.gif); }

#advisors #advMilitary a.normal {   background-image:url(specials/christmas/layout/advisors/general.gif);   }
#advisors #advMilitary a.normalactive { background-image:url(specials/christmas/layout/advisors/general_active.gif);    }
#advisors #advMilitary a.normalalert {  background-image:url(specials/christmas/layout/advisors/general_alert.gif); }
#advisors #advMilitary a.premium {  background-image:url(specials/christmas/layout/advisors/general_premium.gif);   }
#advisors #advMilitary a.premiumactive {    background-image:url(specials/christmas/layout/advisors/general_premium_active.gif);    }
#advisors #advMilitary a.premiumalert { background-image:url(specials/christmas/layout/advisors/general_premium_alert.gif); }

#advisors #advResearch a.normal {   background-image:url(specials/christmas/layout/advisors/scientist.gif); }
#advisors #advResearch a.normalactive { background-image:url(specials/christmas/layout/advisors/scientist_active.gif);  }
#advisors #advResearch a.premium {  background-image:url(specials/christmas/layout/advisors/scientist_premium.gif); }
#advisors #advResearch a.premiumactive {    background-image:url(specials/christmas/layout/advisors/scientist_premium_active.gif);  }

#advisors #advDiplomacy a.normal {  background-image:url(specials/christmas/layout/advisors/diplomat.gif);  }
#advisors #advDiplomacy a.normalactive {    background-image:url(specials/christmas/layout/advisors/diplomat_active.gif);   }
#advisors #advDiplomacy a.premium { background-image:url(specials/christmas/layout/advisors/diplomat_premium.gif);  }
#advisors #advDiplomacy a.premiumactive {   background-image:url(specials/christmas/layout/advisors/diplomat_premium_active.gif);   }

#city #container .phase1 {
    background-image:url(specials/christmas/img/city/city_level1.jpg);
}
#city #container .phase2{
    background-image:url(specials/christmas/img/city/city_level2.jpg);
}

#city #container .phase3 {
    background-image:url(specials/christmas/img/city/city_level3.jpg);
}
#city #container .phase4{
    background-image:url(specials/christmas/img/city/city_level4.jpg);
}
#city #container .phase5{
    background-image:url(specials/christmas/img/city/city_level5.jpg);
}
#city #container .phase6 {
    background-image:url(specials/christmas/img/city/city_level6.jpg);
}
#city #container .phase7{
    background-image:url(specials/christmas/img/city/city_level7.jpg);
}
#city #container .phase8{
    background-image:url(specials/christmas/img/city/city_level8.jpg);
}
#city #container .phase9 {
    background-image:url(specials/christmas/img/city/city_level9.jpg);
}
#city #container .phase10{
    background-image:url(specials/christmas/img/city/city_level10.jpg);
}
#city #container .phase11{
    background-image:url(specials/christmas/img/city/city_level11.jpg);
}
#city #container .phase12 {
    background-image:url(specials/christmas/img/city/city_level12.jpg);
}
#city #container .phase13{
    background-image:url(specials/christmas/img/city/city_level13.jpg);
}
#city #container .phase14{
    background-image:url(specials/christmas/img/city/city_level14.jpg);
}
#city #container .phase15 {
    background-image:url(specials/christmas/img/city/city_level15.jpg);
}
#city #container .phase16{
    background-image:url(specials/christmas/img/city/city_level16.jpg);
}
#city #container .phase17 {
    background-image:url(specials/christmas/img/city/city_level17.jpg);
}
#city #container .phase18{
    background-image:url(specials/christmas/img/city/city_level18.jpg);
}
#city #container .phase19
 {
    background-image:url(specials/christmas/img/city/city_level19.jpg);
}
#city #container .phase20 {
    background-image:url(specials/christmas/img/city/city_level20.jpg);
}
#city #container .phase21 {
    background-image:url(specials/christmas/img/city/city_level21.jpg);
}
#city #container .phase22 {
    background-image:url(specials/christmas/img/city/city_level22.jpg);
}
#city #container .phase23 {
    background-image:url(specials/christmas/img/city/city_level23.jpg);
}

#city #container .phase24,
#city #container .phase25,
#city #container .phase26,
#city #container .phase27,
#city #container .phase28,
#city #container .phase29,
#city #container .phase30 {
    background-image:url(specials/christmas/img/city/city_level24.jpg);
}

#city #container #mainview #locations .barracks .buildingimg {  left:0px; top:-33px; width:100px; height:76px; background-image:url(specials/christmas/img/city/building_barracks.gif); }
#city #container #mainview #locations .port .buildingimg {  left:-65px; top:-35px; width:163px; height:131px; background-image:url(specials/christmas/img/city/building_port.gif);  }
#city #container #mainview #locations .shipyard .buildingimg {  left:-22px; top:-20px; width:129px; height:100px; background-image:url(specials/christmas/img/city/building_shipyard.gif);  }
#city #container #mainview #locations .shipyard a{  top:-10px; left:-20px; width:110px; height:70px;    }
#city #container #mainview #locations .museum .buildingimg {    left:-8px; top:-38px; width:105px; height:85px;  background-image:url(specials/christmas/img/city/building_museum.gif); }
#city #container #mainview #locations .warehouse .buildingimg { left:-17px; top:-33px; width:126px; height:86px;  background-image:url(specials/christmas/img/city/building_warehouse.gif); }
#city #container #mainview #locations .wall .buildingimg {  left:-500px; top:-15px; width:720px; height:137px;   background-image:url(specials/christmas/img/city/building_wall.gif);   }
#city #container #mainview #locations .tavern .buildingimg {    left:-10px; top:-15px; width:111px; height:65px;  background-image:url(specials/christmas/img/city/building_tavern.gif);    }
#city #container #mainview #locations .palace .buildingimg {    left:-10px; top:-42px; width:106px; height:97px;  background-image:url(specials/christmas/img/city/building_palace.gif);    }
#city #container #mainview #locations .palaceColony .buildingimg {  left:-10px; top:-42px; width:109px; height:95px;  background-image:url(specials/christmas/img/city/building_palaceColony.gif);  }
#city #container #mainview #locations .academy .buildingimg {   left:-19px; top:-31px; width:123px; height:90px; background-image:url(specials/christmas/img/city/building_academy.gif);    }
#city #container #mainview #locations .workshop .buildingimg {  left:-19px; top:-31px; width:106px; height:85px; background-image:url(specials/christmas/img/city/building_workshop.gif);   }
#city #container #mainview #locations .safehouse .buildingimg { left:5px; top:-15px; width:84px; height:58px; background-image:url(specials/christmas/img/city/building_safehouse.gif); }
#city #container #mainview #locations .temple .buildingimg {    left:5px; top:-23px; width:67px; height:67px; background-image:url(specials/christmas/img/city/building_temple.gif);    }
#city #container #mainview #locations .branchOffice .buildingimg {  left:-19px; top:-31px; width:109px; height:84px; background-image:url(specials/christmas/img/city/building_branchOffice.gif);   }
#city #container #mainview #locations .embassy .buildingimg {   left:-5px; top:-31px; width:93px; height:85px; background-image:url(specials/christmas/img/city/building_embassy.gif);  }
#city #container #mainview #locations .townHall .buildingimg {  left:-5px; top:-60px; width:104px; height:106px; background-image:url(specials/christmas/img/city/building_townhall.gif);   }
#city #container #mainview #locations .forester .buildingimg {  left:-5px; top:-31px; width:126px; height:85px; background-image:url(specials/christmas/img/city/building_forester.gif);    }
#city #container #mainview #locations .stonemason .buildingimg {    left:-20px; top:-40px; width:126px; height:85px; background-image:url(specials/christmas/img/city/building_stonemason.gif); }
#city #container #mainview #locations .glassblowing .buildingimg {  left:-5px; top:-31px; width:126px; height:85px; background-image:url(specials/christmas/img/city/building_glassblowing.gif);    }
#city #container #mainview #locations .winegrower .buildingimg {    left:-5px; top:-31px; width:126px; height:85px; background-image:url(specials/christmas/img/city/building_winegrower.gif);  }
#city #container #mainview #locations .alchemist .buildingimg { left:-5px; top:-31px; width:126px; height:85px; background-image:url(specials/christmas/img/city/building_alchemist.gif);   }
#city #container #mainview #locations .carpentering .buildingimg {  left:-5px; top:-31px; width:126px; height:85px; background-image:url(specials/christmas/img/city/building_carpentering.gif);    }
#city #container #mainview #locations .architect .buildingimg { left:-5px; top:-31px; width:126px; height:85px; background-image:url(specials/christmas/img/city/building_architect.gif);   }
#city #container #mainview #locations .optician .buildingimg {  left:-17px; top:-42px; width:126px; height:85px; background-image:url(specials/christmas/img/city/building_optician.gif);   }
#city #container #mainview #locations .vineyard .buildingimg {  left:-5px; top:-31px; width:126px; height:85px; background-image:url(specials/christmas/img/city/building_vineyard.gif);    }
#city #container #mainview #locations .fireworker .buildingimg {    left:-5px; top:-31px; width:126px; height:85px; background-image:url(specials/christmas/img/city/building_fireworker.gif);  }
#city #container #mainview #locations .dump .buildingimg {  left:-5px; top:-31px; width:96px; height:74px; background-image:url(specials/christmas/img/city/building_dump.gif); }

#island  #islandfeatures .wonder1 { background-image:url(specials/christmas/img/island/wonder1.gif); }
#island  #islandfeatures .wonder2 { background-image:url(specials/christmas/img/island/wonder2.gif); }
#island  #islandfeatures .wonder3 { background-image:url(specials/christmas/img/island/wonder3.gif); }
#island  #islandfeatures .wonder4 { background-image:url(specials/christmas/img/island/wonder4.gif); }
#island  #islandfeatures .wonder5 { background-image:url(specials/christmas/img/island/wonder5.gif); }
#island  #islandfeatures .wonder6 { background-image:url(specials/christmas/img/island/wonder6.gif); }
#island  #islandfeatures .wonder7 { background-image:url(specials/christmas/img/island/wonder7.gif); }
#island  #islandfeatures .wonder8 { background-image:url(specials/christmas/img/island/wonder8.gif); }